@import 'assets/styles/_variables.scss';

.buy_ticket_banner__container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    opacity: .4;
    object-fit: cover;

    @media (min-width: 768px) {
      height: 75vh;
    }

    @media (min-width: 1024px) {
      height: 50vh;
    }
  }

  h1 {
    position: absolute;
    font-family: 'Calistoga', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: $grey-dark;

    @media (min-width: 768px) {
      font-size: 4rem;
    }
  }
}