.accessibility_and_inclusion__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 1rem;

    @media (min-width: 1024px) {
      width: 50%;
      padding: 0 2rem;
    }
  }

  div {
    width: 100%;

    @media (min-width: 1024px) {
      width: 50%;
    }
  }

  h2, p {
    font-family: 'Raleway', sans-serif;
  }

  h2 {
    padding: 1rem 0;
    color: #444;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }

  p {
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    color: #444;
  }
}