@import 'assets/styles/_variables.scss';

.date_and_location__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $summer-light-blue-opacity;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #444;

  @media (min-width: 1023px) {
    flex-direction: row;
  }
  
  .date_and_location__img {
    height: 381px;
    width: 80vw;
    object-fit: cover;
    padding: 2rem 1rem;

    @media (min-width: 1023px) {
      width: 50vw;
    }
  }

  .info_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1023px) {
      width: 50vw;
    }

    .date_and_location__h2 {
      font-size: 2rem;
      font-weight: 700;
      padding: 1rem;
    }
  
    .date_and_location__p {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 40px;
      padding: 1rem 3rem;

      @media (min-width: 1023px) {
        font-size: 1rem;
        padding: 1rem 0;
      }
    }
  }
}