@import 'assets/styles/_variables.scss';

.header__container {
  background: $summer-dark-blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 0;

  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
  }

  .header__logo {
    min-width: 75%;
    object-fit: cover;

    @media (min-width: 768px) {
      min-width: 25%;
    }

    @media (min-width: 1023px) {
      min-width: 14%;
    }
  }

  .header__menu {
    width: 10%;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .header__links {
    align-items: center;
    background: $summer-dark-blue;
    color: #FFF;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    height: 50vh;
    justify-content: center;
    overflow: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 75vw;

    img {
      width: 20%;
    }

    ul {
      display: flex;
      flex-direction: column;
      height: 75%;

      li {
        padding: 1rem 0;

        &:not(:last-child) {
          border-bottom: 3px solid #FFF;
        }

        p {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 3rem;
          padding: 0 1rem;
        }
      }
    }
  }

  .header__desktop_links {
    align-items: center;
    background: $summer-dark-blue;
    display: none;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    overflow: auto;
    text-align: center;

    @media (min-width: 768px) {
      display: flex;
    }

    ul {
      display: flex;
      flex-direction: row;

      li {
        padding: 1rem 0;

        &:hover {
          cursor: pointer;
          opacity: .8;
        }

        p {
          font-size: 1rem;
          font-weight: 700;
          padding: 0 1rem;
        }
      }
    }
  }
}