$summer-light-blue-opacity: #E0ECF6;
$summer-light-blue: #C8DEEF;
$summer-dark-blue: #2E7BA2;
$summer-light-orange: #FBF0DD;
$summer-orange: #FACF9D;
$summer-dark-orange: #DF9010;
$boreale-light-blue: #B6BCFF;
$boreale-blue: #4650BD;
$boreale-dark-blue: #304968;
$boreale-light-green: #36C1A0;
$boreale-green: #008364;
$grey-dark: #444;